---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Custom from '../components/custom.astro';

let name = "zaid";
let date_1 = "25/3/2026";
const personal_website_link = "https://zaids-bunker.vercel.app/";
const github_link = "https://github.com/zaid45645";
const title = "zaid's blog :3";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="main-div">
			<Custom />
			<h1>heyo! i'm {name}, and welcome to my blog!</h1>
			<a href={personal_website_link} target="_blank">my personal website!</a>&nbsp;
			<a href={github_link} target="_blank">my github!</a>

			<p>
				welcome to my silly blog where I write about my personal experiences, adventures, reflections,
				and a lot more! I hope you enjoy reading through whatever I've written and get insight, learn something
				new, or just have fun reading throught it! :)
			</p>
			<Navigation />
			<img src="/bonfire_2.gif" alt="" id="bonfire">
		</div>
		<script src="/oneko/oneko.js" data-cat="/oneko/oneko.gif"></script>
	</body>
</html>
